language: python
python:
  - "3.9"
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov
script: 
  cd /home/travis/build/warnettconsultingltd/wcl-basic-python/web-server-examples/hello_world
  pytest
after_success:
  - codecov
