language: python
python:
  - "3.9"
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov
script: 
  coverage run tests/*.*
after_success:
  - codecov
